@charset "utf-8";


*{	margin:0;
	padding:0;
	font-family: Verdana;
  }

html {
	height: 100%;
    overflow-x: hidden;
    max-width: 100%;
	display: block;
	color: #676767;
}

body {
	font-family: Calibri;
	width: 100%;
	height: 100%;
	clear:both;
	background-color:#f8f8f8;
}

input[type=text]{
	border-radius: 3px;
	border: 1px dotted;
}


p{
	margin-left: 5%;
}

h1,h2,h3,h5{
    letter-spacing: -0.5px;

}

p, label, h2, h3, h4, h5{
	color: rgb(103, 103, 103);
}

h1{
	margin-bottom: -20px;
	margin-left: 7px;
	line-height: 34px;
	float: left;
	position: relative;
	color: #444;
	font-size: 15px!important;
}

h2{
    line-height: 20px;
	font-weight: bold;
	vertical-align: middle;
	font-size: 15px!important;
	display:inline-block;
}

h3{
    line-height: 21px;
    position: relative;
	font-weight: normal;
	margin-left:5px;
	font-size: 12px!important;
}

h5{	
	margin: 10px 0 0px 0;
	size: 1%;
	line-height: 34px;
	text-align: center;
	font-size: 30px!important;

}

.org{
	margin-top: 0.5%;
	margin-bottom: 2%;
	white-space: normal;
	width:100%;
}

.container{
    position: relative;
	max-width: 80%;
	clear:both;
}

.form-group{
	border: 1px solid #BBBBBB; 
	margin: 200px 0 0px 0;
	max-width: 99%;
	width: 99%;	
	padding: 20px 20px 0px 20px;
}

.texto{
	height:80px;
}

.botao{
	background-color: #2E98DB;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
	width: 150px;
	height: 40px;
	font-size:16px;
	margin-bottom:10px;
	margin-top:20px;
	float:right;
	margin-right:40px;
}

select{
	color: rgb(103, 103, 103);	
}

div, h2, h3, .org, label {
   display: inline-block;
}
		
div{
		width:100%;
}

   
.container{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
}


input[type=text], input[type=password]{
		margin:0;
		height: 35px;
}
   
   
input{
	margin-left:0;
	display: inline-block;
}
 
 
   
.tamanho{
	width: 350px;  
}
  

.rotulo, .rotulo2 {
	margin: 0 0 0 25px!important;
  } 
   
.rotulo  {
	width:120px;
} 
   
.rotulo2{
	width:80px;
}